<h1>Hello <%= @member.firstname %>,</h1>
<p>
  You're now signed up to the Random Coffee draw.
</p>
<p>
  The draw is made once a month, so you'll be included in the next one. You
  will get an email when the draw is made - this will tell you who to meet.
  You can also view the draw results on the Random Coffee site at any time.
</p>
<p>
  Thanks,
</p>
<p>
  The Random Coffee Team
</p>
