<h1>Hello <%= @member.firstname %>,</h1>
<p>
  You have now been removed from the Random Coffee draw.
</p>
<p>
  If this is not what you wanted, you can visit the Random Coffee site and re-join.
</p>
<p>
  Thanks,
</p>
<p>
  The Random Coffee Team
</p>
