<div class="row">
  <div class="page-header col-md-10 col-md-offset-1">
    <h1>Sign in to view</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <p>
      You need to sign in with your GDS account to view the Random Coffee site:
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p>
      <%= link_to "Sign in with your GDS Google account", user_google_oauth2_omniauth_authorize_path, class: "btn btn-primary btn-lg btn-block" %>
    </p>
  </div>
</div>
