<div class="row">
  <div class="page-header col-md-10 col-md-offset-1">
    <h1>Log in</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <p>
      <%= link_to "Sign in with your GDS Google account", user_google_oauth2_omniauth_authorize_path %>
    </p>
  </div>
</div>
