<h1>Draw Results</h1>

<% if @matches.any? %>
  <% @matches.each do |match| %>
    <p>
      <%= match.member1.try(:firstname) %> <%= match.member1.try(:lastname) %>
      -
      <%= match.member2.try(:firstname) %> <%= match.member2.try(:lastname) %>
    </p>
  <% end %>
<% else %>
  There are no draw results
<% end %>
