<div class="row">
  <div class="page-header col-md-10 col-md-offset-1">
    <h1>Make the monthly draw</h1>
    <h4 class="text-danger"><em><strong>ADMIN ONLY</strong></em></h4>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <p>
      <strong>WARNING</strong> - This button will make the Random Coffee draw and send an email to all members with the result. This is irreversible, so must only be done monthly by the admin user.
    </p>
  </div>
</div>

<br />
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p>
      <%= link_to "Make the Random Coffee draw", matches_path, class: "btn btn-danger btn-lg btn-block", method: :post %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to "Get all the member email addresses", member_email_addresses_path %>
  </div>
</div>
