<div class="row">
  <div class="page-header col-md-10 col-md-offset-1">
    <h1>Leave the Random Coffee draw</h1>
    <h3 class="text-muted"><em>(Or remove another member)</em></h3>
  </div>
</div>

<% if @members.any? %>
  <div class="row">
    <div class="well col-md-10 col-md-offset-1">
      <% if current_user.member %>
        <h4>
          Leave the Random Coffee draw:
        </h4><br />
        <p>
          <%= link_to "Remove me, #{current_user.firstname} #{current_user.lastname}", member_path(current_user.member), class: "btn btn-danger btn-lg", method: :delete %>
        </p>
      <% else %>
        You are not a member of the Random Coffee draw.
      <% end %>
    </div>
  </div>

<br />
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h4>Remove someone else from the draw:</h4>
      <p>
        If you see someone who should no longer be a Random Coffee member, for example because they have left GDS, you can remove them from the draw:
      </p>
    </div>
  </div>

  <div class="row">
    <div class="table-responsive col-md-10 col-md-offset-1">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Remove member</th>
          </tr>
        </thead>
        <tbody>
          <% @members.each do |member| %>
            <tr>
              <td><%= member.firstname %></td>
              <td><%= member.lastname %></td>
              <td>
                <%= link_to "Remove #{member.firstname}", member_path(member), class: "btn bg-danger text-danger btn-outline btn-sm", method: :delete %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <div class="row">
    <p class="col-md-10 col-md-offset-1">
      There are currently no members of the Random Coffee draw.
    </p>
  </div>
<% end %>
