<div class="row">
  <div class="page-header col-md-10 col-md-offset-1">
    <h1>Member list</h1>
  </div>
</div>

<% if @members.any? %>
  <div class="row">
    <div class="table-responsive col-md-10 col-md-offset-1">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Remove member</th>
          </tr>
        </thead>
        <tbody>
          <% @members.each do |member| %>
            <tr>
              <td><%= member.firstname %></td>
              <td><%= member.lastname %></td>
              <td>
                <%= link_to "#{member.firstname}: leave Random Coffee", member_path(member), method: :delete %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <div class="row">
    <p class="col-md-10 col-md-offset-1">
      No one has signed up yet. Why not be the first?
    </p>
  </div>
<% end %>
<div class="row">
  <p class="col-md-10 col-md-offset-1">
    <%= link_to "Join Random Coffee", new_member_path %>
  </p>
</div>
