<% if @members.any? %>
  <% @members.each do |member| %>
    <p><%= member.firstname %> <%= member.lastname %></p>
  <% end %>
<% else %>
  No one has signed up yet. Why not be the first?
<% end %>

<p>
  <%= link_to "Join Random Coffee", members_new_path %>
</p>
